<?xml version="1.0" encoding="utf-8"?>
<packages>


	<!-- need the 4.0 assembly , with net 45 one the error is
	CS0246: The type or namespace name 'SQLiteParameter' 
could not be found 
(are you missing a using directive or an assembly reference?) -->
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net45" />
</packages>
