<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Titanium.Web.Proxy" version="3.0.8" targetFramework="net40"/>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net40"/>
  <package id="DotNetZip" version="1.10.1" targetFramework="net40"/>
  <package id="Selenium.Support" version="2.53.1" targetFramework="net40"/>
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net40"/>
</packages>
